{% extends "public/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<style>
    input[type=date]{
        
        font-size: 12px;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid #d7004069;
        color: gray;
    }
    .form-check{
        margin-top: 10px;
    }
    .form-check label{
        font-size: 12px;
    }
    .marker-pin {
        width: 50px;
        height: 50px;
        border-radius: 50% 50% 50% 0;
        background: #D70040;
        position: absolute;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -15px 0 0 -15px;
      }
      // to draw white circle
      .marker-pin::after {
          content: '';
          width: 24px;
          height: 24px;
          margin: 3px 0 0 3px;
          background: #fff;
          position: absolute;
          border-radius: 50%;
       }
      
      // to align icon
      .img_i{
         position: absolute;
         
         left: 0;
         right: 0;
         margin: 10px auto;
       
         z-index: 999;
         position: absolute;
         
         width: 60px;
         height: 60px;
         border-radius: 50%;
         
      }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
  .swal2-title{
    text-align: right;
  }
  li.list-group-item {
    font-size: 14px;
    text-align: right;
}
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid features mb-5">
    <div class="container py-5" style="z-index: 9999;position: relative;">
        <div class="row g-4">
            
            {% for val in person %}
                   
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="row g-4 align-items-center features-item">
                    <div class="col-4">
                        <div class="rounded-circle position-relative">
                            <div class="overflow-hidden rounded-circle">
                                <img src="{{ val.photo.url }}" class="img-zoomin rounded-circle" width="75" height="75" alt="">
                            </div>
                            <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute" style="top: 10%; right: -10px;">{{ forloop.counter }}</span>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="features-content d-flex flex-column">
                            <a href="#" class="h6">
                                {{ val.first_name }} {{ val.last_name }}
                                
                            </a>
                            <p>{{ val.get_birt_day }}</p>
                            <p class="text-uppercase mb-2">{{ val.get_status_display }}</p>
                            
                            <small class="text-body d-block" style="font-size: 12px;">اخر مره شوهد فيها <br><i class="fas fa-calendar-alt me-1"></i> {{ val.last_seen_date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    
        </div>
    </div>
    <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;background-color: #d7004069;"></div>
</div>
 <!-- Main Post Section Start -->
 <div class="container-fluid">
    
    <figure class="text-center mt-3">
        <blockquote class="blockquote">
          <p>خريطة المفقودين.</p>
        </blockquote>
      </figure>
    <div class="container-fluid py-5">
        <div class="row gx-3 gx-lg-5">
          <div class="col-2">
            <ul class="nav nav-tabs nav-tabs-vertical my-5" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link filter1 active" id="vertical-tab-0" data-val="0" data-bs-toggle="tab" href="#vertical-tabpanel-0" role="tab" aria-controls="vertical-tabpanel-0" aria-selected="true">الكل</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link filter1" id="vertical-tab-1" data-val="1" data-bs-toggle="tab" href="#vertical-tabpanel-1" role="tab" aria-controls="vertical-tabpanel-1" aria-selected="false">المفقودين</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link filter1" id="vertical-tab-2" data-val="2" data-bs-toggle="tab" href="#vertical-tabpanel-2" role="tab" aria-controls="vertical-tabpanel-2" aria-selected="false">المعثور عليهم</a>
              </li>
            </ul>
            <hr class="my-3">
            <div class="form-group my-5">
              <label for="from" style="font-size: 12px;">من</label>
              <input type="date" class="form-control" id="from" />
              <label for="to" style="font-size: 12px;">الى</label>
              <input type="date" class="form-control" id="to" />
            </div>
            <hr class="my-3">
            <div class="form-check">
              <input class="form-check-input filter" type="radio" name="ageRange" id="age0_12" value="0-12" />
              <label class="form-check-label" for="age0_12">من عمر 0 - 12</label>
            </div>
            <div class="form-check">
              <input class="form-check-input filter" type="radio" name="ageRange" id="age12_18" value="12-18" />
              <label class="form-check-label" for="age12_18">من عمر 12 - 18</label>
            </div>
            <div class="form-check">
              <input class="form-check-input filter" type="radio" name="ageRange" id="age18_30" value="18-30" />
              <label class="form-check-label" for="age18_30">من عمر 18 - 30</label>
            </div>
            <div class="form-check">
              <input class="form-check-input filter" type="radio" name="ageRange" id="age30_plus" value="30-200" />
              <label class="form-check-label" for="age30_plus">من عمر 30 فما فوق</label>
            </div>
          </div>
          
          {% comment %} <div id="peopleList">
            <!-- هنا سيتم عرض قائمة الأشخاص المفقودين والمعثور عليهم -->
          </div> {% endcomment %}
          
            <div class="col-10">
              <div class="tab-content" id="tab-content" aria-orientation="vertical">
                <div class="position-relative overflow-hidden rounded">
                    <div id="map" style="height: 500px;"></div>
                </div>
                 </div>
            </div>
          </div>
           
          
        </div>
    </div>
</div>
<div id="map-canvas"></div>
<!-- Main Post Section End -->
{% endblock content %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    
    $(function(){
        var map = L.map('map').setView([32.89605782530956, 13.178557744256981], 11);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var markers =[]
    function clean_marker(){
      markers.forEach(marker => map.removeLayer(marker));
      markers = [];
     }
    
   function get_missing(){
    var filter1 = $('.filter1.active').data('val')
    var from_date = $('#from').val()
    var to_date = $('#to').val()
    var curage = $('input[name=ageRange]:checked').val()
    
    clean_marker()
    axios.get('/api/get_missing',{params:{status:filter1,ourage:curage == undefined?-1:curage,from:from_date,to:to_date}}).then((res)=>{
      var data = res.data.person
      for(let i of data){
          var icon = L.divIcon({
              id:i.id,
              className: 'custom-div-icon',
              html: `<div style='background-color:#D70040;' class='marker-pin'></div><img style='
                  position: absolute;
                  left: 5px;
                  margin: 10px auto;
                  z-index: 999;
                  position: absolute;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                      box-shadow: 1px 2px 8px #323232;
       ' src='${i.photo}'>`,
              iconSize: [30, 42],
              iconAnchor: [15, 42]
          });
          
          var marke = L.marker([i.lat, i.lng], { icon: icon ,}).addTo(map).on('click',(e)=>{
              var id = e.sourceTarget.options.icon.options.id

              axios.get(`/api/person-data/${id}`).then((res)=>{
                var person_data = res.data
                var bith_day = new Date(person_data.birth_date)
              var year = Math.floor(Math.abs(Date.now() - bith_day.getDate() ) / 1000 * 60 * 60 * 24 * 360)
              console.log(Date.now(),bith_day.getDate() / 60 * 60 * 24 * 360 )
                Swal.fire({
                  title: `الاسم : ${person_data.first_name} ${person_data.last_name}`,
                  html: `
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">الجنس : ${person_data.get_gender}</li>
                          <li class="list-group-item">العمر : ${person_data.get_birt_day} </li>
                          <li class="list-group-item">اخر مرة شوهد فيها : ${person_data.last_seen_date} </li>
                          
                          <li class="list-group-item">الحالة : ${ person_data.get_status }</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        `,
                        confirmButtonText:'اغلاق',
                        confirmButtonColor:'#D70040',
                        showDenyButton: true,
                        denyButtonText:'عرض التفاصيل',
                        denyButtonColor:'#091e42'
                }).then((result)=>{
                  if(result.isDenied){
                    location.replace('/details/'+id)
                  }
                });
              })
          });
          markers.push(marke)
      }
  })
   }
   get_missing()
   $('.filter1').click(()=>get_missing())
   $('input[name=ageRange] , #from ,#to').change(()=>get_missing())
    })
</script>
{% endblock script %}