{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تسجيل الدخول</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous" />
    <link href="{% static 'public/css/style.css' %}" rel="stylesheet" />
    <style>
      body *:not(i) {
        font-family: 'Cairo' !important;
      }
    </style>
  </head>
  <body style="    background-color: #091e42;">
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <h3 class="mb-5 text-center">تسجيل الدخول</h3>
                <div class="text-danger">
                  {% for message in messages %}
                    <center><strong>{{ message }}</strong></center>
                  {% endfor %}
                </div>
                <form action="" method="post">
                  {% csrf_token %}
                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="typeEmailX-2">اسم المستخدم</label>
                    <input type="text" name="username" id="typeEmailX-2" class="form-control form-control-lg" required />
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="typePasswordX-2">كلمة المرور</label>
                    <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" required />
                  </div>
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg w-100" type="submit">Login</button>
                </form>
                <hr class="my-4" />
                <p style="font-size: 12px;text-align: center;">
                  
                    ليس لدي حساب <a href="{% url 'public.singup' %}">انشاء حساب جديد</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
