{% extends "dashboard/base.html" %}
{% load static %}
{% block style %}

{% endblock style %}
{% block content %}
<div class="row">
    <div class="col-lg-8 mb-4 order-0">
        <div class="card">
            <div class="row row-bordered g-0">
              <div class="col-md-12">
                <h5 class="card-header m-0 me-2 pb-3">البلاغات السنوية</h5>
                <div id="chart" class="px-2"></div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 order-1">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <i class='bx bxs-user-badge text-primary' style="font-size: 40px;"></i>
                </div>
              </div>
              <span class="fw-semibold d-block mb-1">المفقودين</span>
              <h3 class="card-title mb-2">{{ count_missing }}</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <i class='bx bxs-user-check text-success' style="font-size: 40px;"></i>
                </div>
                
              </div>
              <span>المعثور عليهم</span>
              <h3 class="card-title text-nowrap mb-1">{{ count_found }}</h3>
            </div>
          </div>
        </div>
        <div class="col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                      <i class='bx bxs-stopwatch text-danger' style="font-size: 40px;"></i>
                  </div>
                </div>
                <span class="d-block mb-1">بلاغات في الانتظار</span>
                <h3 class="card-title text-nowrap mb-2">{{ count_wait }}</h3>
              </div>
            </div>
          </div>
          <div class="col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                      <i class='bx bxs-user-account ' style="font-size: 40px;"></i>
                  </div>                
                </div>
                <span class="fw-semibold d-block mb-1">البلاغات المرفوضة</span>
                <h3 class="card-title mb-2">{{ reject }}</h3>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Total Revenue -->
    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
      
    </div>
    <!--/ Total Revenue -->
    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
      <div class="row">
        
        <!-- </div>
<div class="row"> -->
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                  <div class="card-title">
                    <h5 class="text-nowrap mb-2">الاجمالي</h5>
                    {% comment %} <span class="badge bg-label-warning rounded-pill">Year 2021</span> {% endcomment %}
                  </div>
                  <div class="mt-sm-auto">
                    {% comment %} <small class="text-success text-nowrap fw-semibold"
                      ><i class="bx bx-chevron-up"></i> 68.2%</small
                    > {% endcomment %}
                    <h3 class="mb-0">{{ total }}</h3>
                  </div>
                </div>
                <div id="chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block script %}
<script>
    var options = {
        chart: {
          type: 'line'
        },
        series: [{
          name: 'missing',
          data: {{ chart }}
        }],
        xaxis: {
          categories:  ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Nov','Dec'],
        }
      }
      
      var chart = new ApexCharts(document.querySelector("#chart"), options);
      
      chart.render();
</script>
{% endblock script %}