{% extends "public/base.html" %}

{% load static %}


{% block style %}

{% endblock style %}

{% block content %}

<!-- About Us Start -->
<div class="container-fluid bg-light about pb-5">
  <div class="container pb-5">
    <div class="row g-5">
      <div class="col-12 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="text-primary">تعريف بالموقع (عنا)</h4>
          <h1 class="display-4 mb-4">مساعدة في العثور على الأطفال المفقودين</h1>
          <p>الدافع الأكبر للبداية: ما لمسناه من تزايد أعداد الأطفال المفقودين مع تضاؤل جهود البحث، سواء كانت حكومية أو تطوعية، كان المحفز الرئيسي وراء انطلاق موقعنا. بفكرة قوية وعاطفة جياشة، نسعى للمساهمة في لم شمل الأسر باستخدام خطوات منظمة وآلية مرتبة للبحث عن المفقودين في عصر تكنولوجيا المعلومات.</p>
        </div>
      </div>

      <div class="col-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="text-primary">الهدف من الموقع</h4>
          <p>يهدف الموقع الإلكتروني إلى أن يكون منصة مركزية فعّالة تساعد في لم شمل الأسر بأطفالها المفقودين بسرعة وكفاءة. من خلال استخدام التكنولوجيا المتقدمة وقوة التواصل الاجتماعي، يسهّل الموقع عمليات البحث، جمع المعلومات، ونشرها على نطاق واسع.</p>
        </div>
      </div>

      <div class="col-12 wow fadeInUp" data-wow-delay="0.6s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="text-primary">الخصائص الرئيسية للموقع</h4>
          <ul>
            <li><i class="fa fa-check text-primary me-3"></i>قاعدة بيانات شاملة: قاعدة بيانات تتضمن معلومات وصور الأطفال المفقودين، مع تفاصيل الاتصال بأسرهم. يتم تحديثها بانتظام لضمان دقة البيانات وشموليتها.</li>
            <li><i class="fa fa-check text-primary me-3"></i>إشعارات وتنبيهات فورية: نظام إشعارات فورية ينبه المستخدمين عند العثور على طفل مفقود في منطقتهم، مما يعزز سرعة التفاعل.</li>
            <li><i class="fa fa-check text-primary me-3"></i>خريطة تفاعلية: خريطة توضح أماكن العثور على الأطفال المفقودين، مما يساعد في تحديد المناطق الأكثر حاجة للبحث ويعزز التعاون بين المتطوعين والأهالي.</li>
          </ul>
        </div>
      </div>

      <div class="col-12 wow fadeInUp" data-wow-delay="0.8s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="text-primary">كيفية الاستخدام</h4>
          <ul>
            <li><i class="fa fa-check text-primary me-3"></i>إبلاغ عن طفل مفقود: يمكن للأهالي أو المواطنين الإبلاغ عن حالات فقدان الأطفال بتقديم بلاغ يشمل التفاصيل الضرورية كاسم الطفل، العمر، الصورة، وآخر مكان تم رؤيته فيه.</li>
            <li><i class="fa fa-check text-primary me-3"></i>البحث في قاعدة البيانات: يمكن للمستخدمين البحث باستخدام معايير مختلفة مثل الاسم والعمر للعثور على الأطفال المفقودين.</li>
            <li><i class="fa fa-check text-primary me-3"></i>مشاركة المعلومات: يتيح الموقع للمستخدمين مشاركة معلومات الأطفال المفقودين عبر وسائل التواصل الاجتماعي والبريد الإلكتروني، مما يساعد في توسيع نطاق البحث.</li>
          </ul>
        </div>
      </div>

      <div class="col-12 wow fadeInUp" data-wow-delay="1s">
        <div class="about-item-content bg-white rounded p-5 h-100">
          <h4 class="text-primary">الأثر المتوقع</h4>
          <p>بفضل التكنولوجيا المتقدمة والتعاون المجتمعي، يسعى الموقع إلى تقليل وقت البحث وزيادة فرص العثور على الأطفال بسرعة وأمان. من خلال نشر الوعي وتعزيز التواصل، يساهم الموقع في الحفاظ على كيان الأسرة ومستقبل المجتمع.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Us End -->
```


{% endblock content %}

{% block script %}

{% endblock script %}