{% extends "public/base.html" %}
{% load static %}


{% block title %}
  الارشادات
{% endblock title %}
  
{% block style %}
<style>
    header{
        top:0px !important
    }
</style>
{% endblock style %}

{% block content %}

<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px;">
      <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">نصائح توعية</h4>
      <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
          <li class="breadcrumb-item"><a href="index.html">الرئيسية</a>\</li> 
          <li class="breadcrumb-item active text-primary"><a href="#">نصائح و ارشادات</a></li>
      </ol>    
  </div>
</div>
<!-- Blog Start -->
<div class="container-fluid blog py-5">
  <div class="container py-5">
      <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
          
          <h1 class="display-4 mb-4">سلامة الأطفال</h1>
          <p class="mb-0">جمعنا مجموعة من الطرق والوسائل للحفاظ على طفلك من الضياع أو الخطف عند وجوده بالخارج.</p>
      </div>
      <div class="row g-4 justify-content-center">
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/girl-with-toy-camera.png' %}" class="img-fluid rounded-top w-100" alt="تصوير الطفل">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">تصوير الطفل قبل الذهاب إلى أماكن مزدحمة.</a>
                      <p class="mb-3">استخدام الصورة الفعلية لملامح الطفل وملابسه التي كان يرتديها لتسهيل البحث عليه في حال فقدانه.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/little-kid-playing-with-mobile.jpg' %}" class="img-fluid rounded-top w-100" alt="استخدام الأجهزة الذكية">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">استخدام أجهزة التتبع</a>
                      <p class="mb-3">تساعد التكنولوجيا الحديثة الآباء والأمهات على حماية أطفالهم عند تواجدهم في أماكن بعيدة باستخدام أجهزة التتبع الجغرافي (GPS) المتوفرة في الساعات الذكية والأجهزة اللوحية والهواتف.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/hand-drawn-kawaii-character-business-card-template.png' %}" class="img-fluid rounded-top w-100" alt="بطاقة تعريفية">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">إنشاء بطاقة تعريفية للأطفال الصغار.</a>
                      <p class="mb-3">تزويد الطفل ببطاقة تعريفية تحتوي على اسمه ورقم الهاتف الخاص بالعائلة لسهولة التواصل في حال ضياعه.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.8s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/hand-drawn-speech-therapy-illustration.png' %}" class="img-fluid rounded-top w-100" alt="تعليم المعلومات الأساسية">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">تعليم الطفل المعلومات الأساسية مثل الاسم الكامل ورقم الهاتف والعنوان.</a>
                      <p class="mb-3">تعليم الطفل كيفية إعطاء معلوماته الأساسية مثل اسمه الكامل ورقم الهاتف والعنوان لسهولة الوصول إليه في حال ضياعه.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.0s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/father-son-practicing-active-listening-taking-turns-repeating-what-other-has-said_216520-154305.avif' %}" class="img-fluid rounded-top w-100" alt="التحدث مع العائلة">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">تخصيص الوقت للحديث مع الطفل</a>
                      <p class="mb-3">التحدث مع العائلة بشكل دوري حول كيفية التصرف إذا ضاع الطفل. مناقشة الإجراءات الواجب اتباعها في حالة فقدان الطفل مع العائلة بشكل دوري لضمان استعداد الجميع لأي طارئ.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.2s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/realistic-friendship-band.png' %}" class="img-fluid rounded-top w-100" alt="استخدام الأساور">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">استخدام الأساور التي تحتوي على رقم الهاتف</a>
                      <p class="mb-3">استخدام الأساور التي تحتوي على رقم الهاتف يمكن أن يساعد في الاتصال بالعائلة بسرعة في حال ضياع الطفل.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.4s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/father-son-practicing-active-listening-taking-turns-repeating-what-other-has-said_216520-154305.avif' %}" class="img-fluid rounded-top w-100" alt="طلب المساعدة">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">تعليم الطفل كيفية طلب المساعدة من الأشخاص المناسبين</a>
                      <p class="mb-3">تعليم الطفل كيفية طلب المساعدة من الشرطة أو المسؤولين في حال ضياعه يمكن أن يسهل العثور عليه بسرعة.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.6s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/flat-world-humanitarian-day-illustration-with-person-offering-support-child.png' %}" class="img-fluid rounded-top w-100" alt="البقاء في مكانه">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">توجيه الطفل للبقاء في مكانه إذا ضاع</a>
                      <p class="mb-3">توجيه الطفل للبقاء في مكانه إذا ضاع يمكن أن يسهل العثور عليه من قبل الأهل أو المسؤولين.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.8s">
              <div class="blog-item">
                  <div class="blog-img">
                      <img src="{% static 'public/hh/boy-with-glasses-man-writing-classroom.jpg' %}" class="img-fluid rounded-top w-100" alt="التدرب مع الطفل">
                      <div class="blog-categiry py-2 px-4">
                          <span>نصيحة</span>
                      </div>
                  </div>
                  <div class="blog-content p-4">
                      <a href="#" class="h4 d-inline-block mb-3">التدرب مع الطفل على سيناريوهات مختلفة</a>
                      <p class="mb-3">التدريب مع الطفل على سيناريوهات مختلفة لضمان معرفته بالإجراءات الواجب اتباعها في حالات الطوارئ.</p>
                  </div>
              </div>
          </div>
          
          <!-- <div class="col-12 text-center wow fadeInUp" data-wow-delay="2.0s">
              <a class="btn btn-primary rounded-pill py-3 px-5" href="#">المزيد من النصائح</a>
          </div> -->
      </div>
  </div>
</div>
<!-- Blog End -->

{% endblock content %}

{% block script %}
<!-- Include any additional scripts if needed -->
{% endblock script %}
