{% extends "public/base.html" %}

{% load static %}
{% block proprty %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ person.first_name }} - {{ person.last_name }}" />
<meta property="og:description" content="العمر: {{ person.birth_date|timesince }} - آخر مرة شوهد فيها: {{ person.last_seen_date }}" />
<meta property="og:image" content="{{ person.photo.url }}" />
{% endblock proprty %}
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<style>
    
    header{
        top:0px
    }
    .thumb h4{
        font-size: 16px !important;
    }
    .thumb span{
        font-size: 14px  !important;
    }
    #clients:before {
        content: '';
        background-image: url({% static 'public/assets/images/services-right-dec.png' %});
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 120px;
        width: 1136px;
        height: 244px;
        z-index: 0;
      }
      #clients:after {
        content: '';
        background-image: url({% static 'public/assets/images/services-right-dec.png' %});
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        bottom: -300px;
        width: 261px;
        height: 368px;
        z-index: 0;
      }
</style>
{% endblock style %}

{% block content %}

<div class="container-fluid bg-light about py-5">
  <div class="container py-5">
      <div class="row g-5">
        
          <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <div class="about-item-content bg-white rounded p-5 h-100">
                <div class="col-12">
                  <div class="rounded bg-light">
                      <img  src="{{ person.photo.url }}" class="img-fluid rounded w-100" alt="">
                  </div>
                </div>
                  <h4 class="text-primary">About Our Company</h4>
                  <h1 class="display-4 mb-4">{{ person.first_name }} {{ person.last_name }}</h1>

                  <p><i class="fa fa-check text-primary me-3"></i>تاريخ الميلاد: {{ person.birth_date }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الجنس: {{ person.get_gender }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الطول: {{ person.height }} سم</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الوزن: {{ person.weight }} كجم</p>
                  <p><i class="fa fa-check text-primary me-3"></i>لون الشعر: {{ person.hair_color }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>لون العينين: {{ person.eye_color }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>علامات مميزة: {{ person.distinguishing_marks }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>تاريخ آخر مرة شوهد فيها: {{ person.last_seen_date }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>المنطقة: {{ person.Region }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الحالة الصحية: {{ person.health_conditions }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الملابس عند الاختفاء: {{ person.last_seen_clothing }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>الحالة: {{ person.get_status }}</p>
                  <p><i class="fa fa-check text-primary me-3"></i>تاريخ الإبلاغ: {{ person.created_at }}</p>
                  
              </div>
          </div>
          <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
              <div class="bg-white rounded p-5 h-100">
                  <div class="row g-4 justify-content-center">
                      
                      <div class="col-sm-12">
                          <div class="counter-item bg-light rounded p-3 h-100">
                            <div class="position-relative rounded overflow-hidden mt-3 mb-3">
                              <div id="map" style="height: 400px;"></div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                              <i class="fab fa-facebook"></i> مشاركة على فيسبوك
                            </a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=تحقق من هذا المنشور" target="_blank">
                              <i class="fab fa-twitter"></i> مشاركة على تويتر
                            </a>
                                  {% comment %} <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> 06 minute read</a>
                                  <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> 3.5k Views</a>
                                  <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> 05 Comment</a>
                                  <a href="#" class="text-dark link-hover"><i class="fa fa-arrow-up"></i> 1.5k Share</a> {% endcomment %}
                          </div> 
                          <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'public.report' person.id %}">اضافة معلومات</a>
                          </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
<script>
    $( function() {
        var lat = {{ person.lat }} // Latitude of the last seen location
        var lng = {{ person.lng }} // Longitude of the last seen location
        var lastSeenDate = new Date('{{ time }}') // Last seen date in YYYY-MM-DD format
        const date = new Date();

        var hours = Math.floor((lastSeenDate.getTime() - date.getTime()) / (1000 * 3600))
        console.log(hours)
        var map = L.map('map').setView([lat, lng], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        L.marker([lat, lng]).addTo(map)
        .openPopup();
        console.log('{{ person.last_seen_date }}')
        var circle = L.circle([lat, lng], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: (50 * hours) >= 10000?10000:50 * hours // Increase radius by 50 meters per day
        }).addTo(map);
    });
</script>

{% endblock script %}