{% extends "public/base.html" %}
{% load static %}

{% block title %}
    تسجيل البلاغ
{% endblock title %}
    
{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    .stepwizard-step p {
        margin-top: 10px;
    }
    
    .stepwizard-row {
        display: table-row;
    }
    
    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }
    
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    
    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    
    }
    
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    label{
        margin-bottom: 5px;
    }
    header{
        top:0px
    }
    span.text-danger{
        font-size: 12px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">تسجيل بلاغ</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
            <li class="breadcrumb-item"><a href="index.html">الرئيسية</a>\</li> 
            <li class="breadcrumb-item active text-primary"><a href="#">تسجيل بلاغ</a></li>
        </ol>    
    </div>
</div>
<div id="clients" class="the-clients">
    <div class="container">
        
      <div class="row">
        <div class=" mt-5 col-md-12 text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            
            
            <p class="mb-0">
                <p>إذا كنت ترغب في تسجيل بلاغ عن طفل مفقود، يرجى ملء النموذج أدناه وتقديم أكبر قدر ممكن من المعلومات.</p>
            </p>
            {% if messages  %}
        <div class="alert alert-success m-3">
            
            {% for massege in messages %}
                {{ massege }}
            {% endfor %}
                
        </div>
        {% endif %}
        </div>
        <div class="col-md-12 mb-4">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>معلومات المفقود</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>معلومات اضافية</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>تحدديد موقع الاختفاء</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                        <p>بيانات المبلغ</p>
                    </div>
                </div>
            </div>
            <form role="form" action="" id="form-send" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row setup-content" id="step-1">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3 class="section-title">المعلومات الشخصية</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="first_name">الاسم الأول</label>
                                        <input type="text" class="form-control" required placeholder="الاسم الاول"  id="first_name" name="first_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="last_name">اسم العائلة</label>
                                        <input type="text" class="form-control" required placeholder="اسم العائلة" id="last_name" name="last_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="birth_date">تاريخ الميلاد</label>
                                        <input type="date" class="form-control" id="birth_date" required name="birth_date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">المنطقة</label>
                                    <select class="form-control w-100" required name="Region">
                                        <option value="" disabled selected>اختيار المنطقة التي فقد فيها </option>
                                        <option value="أبو ستة">أبو ستة</option>
                                        <option value="أبو سليم">أبو سليم</option>
                                        <option value="أبو مشماشة">أبو مشماشة</option>
                                        <option value="أبو نواس">أبو نواس</option>
                                        <option value="اسبيعة">اسبيعة</option>
                                        <option value="الباعيش">الباعيش</option>
                                        <option value="البيفي">البيفي</option>
                                        <option value="الجبس">الجبس</option>
                                        <option value="الجدادعة">الجدادعة</option>
                                        <option value="الحشان">الحشان</option>
                                        <option value="الحي الأسلامي">الحي الأسلامي</option>
                                        <option value="الحي الدبلوماسي">الحي الدبلوماسي</option>
                                        <option value="الحي الصناعي">الحي الصناعي</option>
                                        <option value="الخروبة">الخروبة</option>
                                        <option value="الدريبي">الدريبي</option>
                                        <option value="الزهراء">الزهراء</option>
                                        <option value="السبعة">السبعة</option>
                                        <option value="السدرة">السدرة</option>
                                        <option value="السراج">السراج</option>
                                        <option value="السواني">السواني</option>
                                        <option value="الصريم">الصريم</option>
                                        <option value="الظهرة">الظهرة</option>
                                        <option value="العزيب">العزيب</option>
                                        <option value="العلوص">العلوص</option>
                                        <option value="العوينية">العوينية</option>
                                        <option value="الفرناج">الفرناج</option>
                                        <option value="القاسي">القاسي</option>
                                        <option value="القره بوللي">القره بوللي</option>
                                        <option value="القيو">القيو</option>
                                        <option value="الكرامة">الكرامة</option>
                                        <option value="الكريمية">الكريمية</option>
                                        <option value="المدينة السياحية">المدينة السياحية</option>
                                        <option value="المدينة القديمة">المدينة القديمة</option>
                                        <option value="المطاويح">المطاويح</option>
                                        <option value="المقريف">المقريف</option>
                                        <option value="المنصورة">المنصورة</option>
                                        <option value="النجيلة">النجيلة</option>
                                        <option value="النوفليين">النوفليين</option>
                                        <option value="الهاني">الهاني</option>
                                        <option value="الهضبة الخضراء">الهضبة الخضراء</option>
                                        <option value="بئر توته">بئر توته</option>
                                        <option value="باب العزيزية">باب العزيزية</option>
                                        <option value="باب بن غشير">باب بن غشير</option>
                                        <option value="بشير السعداوي">بشير السعداوي</option>
                                        <option value="بلوزة">بلوزة</option>
                                        <option value="بن عاشور">بن عاشور</option>
                                        <option value="بونعيم">بونعيم</option>
                                        <option value="تاجوراء">تاجوراء</option>
                                        <option value="جامع صقع">جامع صقع</option>
                                        <option value="جامعة طرابلس">جامعة طرابلس</option>
                                        <option value="جزيرة الفحم">جزيرة الفحم</option>
                                        <option value="جنزور">جنزور</option>
                                        <option value="حي الانتصار">حي الانتصار</option>
                                        <option value="حي الأندلس">حي الأندلس</option>
                                        <option value="حي البطاطا">حي البطاطا</option>
                                        <option value="حي السلام">حي السلام</option>
                                        <option value="حي القادسية">حي القادسية</option>
                                        <option value="حي الكويت">حي الكويت</option>
                                        <option value="حي دمشق">حي دمشق</option>
                                        <option value="خلة الفرجان">خلة الفرجان</option>
                                        <option value="ذات العماد">ذات العماد</option>
                                        <option value="رأس حسن">رأس حسن</option>
                                        <option value="زاوية الدهماني">زاوية الدهماني</option>
                                        <option value="زطارنه">زطارنه</option>
                                        <option value="زناتة">زناتة</option>
                                        <option value="سوق الجمعة">سوق الجمعة</option>
                                        <option value="سوق المشير">سوق المشير</option>
                                        <option value="سوق خميس">سوق خميس</option>
                                        <option value="سيدي السائح">سيدي السائح</option>
                                        <option value="سيدي المصري">سيدي المصري</option>
                                        <option value="سيدي خليفة">سيدي خليفة</option>
                                        <option value="شارع الاستقلال">شارع الاستقلال</option>
                                        <option value="شارع الجماهيرية">شارع الجماهيرية</option>
                                        <option value="شارع الخلاطات">شارع الخلاطات</option>
                                        <option value="شارع الزاوية">شارع الزاوية</option>
                                        <option value="شارع السيدي">شارع السيدي</option>
                                        <option value="شارع المسيرة الكبرى">شارع المسيرة الكبرى</option>
                                        <option value="شارع النصر">شارع النصر</option>
                                        <option value="شارع جرابة">شارع جرابة</option>
                                        <option value="شارع سليم">شارع سليم</option>
                                        <option value="شارع شوقي">شارع شوقي</option>
                                        <option value="شارع عمر المختار">شارع عمر المختار</option>
                                        <option value="شارع ميزران">شارع ميزران</option>
                                        <option value="شارع هايتي">شارع هايتي</option>
                                        <option value="شرفة الملاحة">شرفة الملاحة</option>
                                        <option value="شيل البوعيشي">شيل البوعيشي</option>
                                        <option value="صلاح الدين">صلاح الدين</option>
                                        <option value="طريق الأحياء البرية">طريق الأحياء البرية</option>
                                        <option value="طريق السور القديم">طريق السور القديم</option>
                                        <option value="طريق الشوك">طريق الشوك</option>
                                        <option value="طريق الفلاح">طريق الفلاح</option>
                                        <option value="طريق المشتل">طريق المشتل</option>
                                        <option value="طريق المشتل">طريق المشتل</option>
                                        <option value="طريق المطار">طريق المطار</option>
                                        <option value="طريق الهضبة الشرقية">طريق الهضبة الشرقية</option>
                                        <option value="طريق الهضبة طول">طريق الهضبة طول</option>
                                        <option value="عرادة">عرادة</option>
                                        <option value="عين زارة">عين زارة</option>
                                        <option value="غرغور">غرغور</option>
                                        <option value="غوط أبو ساق">غوط أبو ساق</option>
                                        <option value="غوط الشعال">غوط الشعال</option>
                                        <option value="فشلوم">فشلوم</option>
                                        <option value="قرجي">قرجي</option>
                                        <option value="قرقارش">قرقارش</option>
                                        <option value="قصر بن غشير">قصر بن غشير</option>
                                        <option value="كشلاف">كشلاف</option>
                                        <option value="معسكر اليرموك">معسكر اليرموك</option>
                                        <option value="منطقة المزاوغة">منطقة المزاوغة</option>
                                        <option value="ميدان الجزائر">ميدان الجزائر</option>
                                        <option value="وادي الربيع">وادي الربيع</option>
                                    </select>
                                    <label>اخرى <input type="checkbox" class="other" data-name="Region"></label>
                                    <input type="hidden" name="Region" id='Region' disabled placeholder="ادخل المنطقة" class="form-control">                            
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="gender">الجنس</label>
                                        <select id="gender" class="form-control w-100" name="gender" required>
                                            <option value="" disabled selected>الجنس</option>
                                            <option value="M">ذكر</option>
                                            <option value="F">أنثى</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="height">الطول</label>
                                        <input type="number" placeholder="الطول" class="form-control" step="0.01" id="height" required name="height">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="weight">الوزن</label>
                                        <input type="number" placeholder='الوزن' class="form-control" step="0.01" id="weight" required name="weight">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary nextBtn  text-light" style="float: left;" type="button" >التالي</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3 class="section-title">بيانات اخرى</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="hair_color">لون الشعر</label>
                                        <select class="form-control w-100" required name="hair_color" >
                                            <option value="اختيار">اختيار</option>
                                            <option value="أسود">أسود</option>
                                            <option value="بني">بني</option>
                                            <option value="أشقر">أشقر</option>
                                            <option value="أحمر">أحمر</option>
                                            <option value="أبيض">أبيض</option>
                                        </select>
                                        <label>اخرى <input type="checkbox" class="other" data-name="hair_color"></label>
                                    <input type="hidden" name="hair_color" id='hair_color' disabled placeholder="لون الشعر" class="form-control">   
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="eye_color">لون العينين</label>
                                        <select class="form-control" required name="eye_color" >
                                            <option value="اختيار">اختيار</option>
                                            <option value="أسود">أسود</option>
                                            <option value="بني">بني</option>
                                            <option value="أزرق">أزرق</option>
                                            <option value="أخضر">أخضر</option>
                                            <option value="رمادي">رمادي</option>
                                        </select>
                                        <label>اخرى <input type="checkbox" class="other" data-name="eye_color"></label>
                                        <input type="hidden" name="eye_color" id='eye_color' disabled placeholder="لون العيون" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="last_seen_date">موعد اخر مرة شوهد فيها </label>
                                        <input type="datetime-local" class="form-control" required id="last_seen_date" name="last_seen_date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="health_conditions">الحالة الصحية</label>
                                        <input type="text" id="health_conditions" required class="form-control" name="health_conditions" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="distinguishing_marks">علامات مميزة</label>
                                        <textarea id="distinguishing_marks" class="form-control" required name="distinguishing_marks"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="last_seen_clothing">الملابس عند الاختفاء</label>
                                        <textarea id="last_seen_clothing" class="form-control" required name="last_seen_clothing"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group m-3">
                                        <label for="photo">صورة حديثة</label>
                                        <input type="file" id="photo" class="form-control" required name="photo">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary nextBtn text-light"  style="float: left;" type="button" >التالي</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-3">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3> تحديد مكان الاختفاء
                            </h3>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="position-relative overflow-hidden rounded">
                                        <div id="map" style="height: 400px;"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <p>احداثيات الموقع</p>
                                    <div class="form-group">
                                        <label>خط العرض <span id='lable-lat'></span></label>
                                        <input type="text" id="lat" name="lat">
                                    </div>
                                    <div class="form-group">
                                        <label>خط الطول <span id='lable-lng'></span></label>
                                        <input type="text"  id="lng" name="lng">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary text-light m-3 nextBtn" style="float: left;" type="button">التالي</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-4">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <div class="row">
                                <!-- قسم معلومات المبلغ -->
                                <div class="col-md-6">
                                    <h3 class="section-title">معلومات المبلغ</h3>
                                    <div class="form-group m-3">
                                        <label for="first_name">الاسم الأول</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name_l">
                                    </div>
                                    <div class="form-group m-3">
                                        <label for="last_name">اسم العائلة</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name_l">
                                    </div>
                                    <div class="form-group m-3">
                                        <label for="relationship_to_missing">العلاقة بالمفقود</label>
                                        <input type="text" class="form-control" id="relationship_to_missing" name="relationship_to_missing_l">
                                    </div>
                                    <div class="form-group m-3">
                                        <label for="phone_number">رقم الهاتف</label>
                                        <input type="tel" class="form-control" id="phone_number" name="phone_number_l">
                                    </div>
                                </div>
                                <!-- قسم معلومات الاتصال -->
                                <div class="col-md-6">
                                
                                    <div class="form-group m-3">
                                        <label for="address">عنوان السكن</label>
                                        <input type="text" class="form-control" id="address" name="address_l">
                                    </div>
                                    
                                    <div class="form-group m-3">
                                        <label for="additional_info">معلومات إضافية</label>
                                        <textarea class="form-control" id="additional_info" name="additional_info_l"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success text-light m-3" id='submit' type="submit">Finish!</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {

        var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');
    
        allWells.hide();
    
        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                    $item = $(this);
    
            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });
    
        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input:not([type='checkbox'],[type='hidden']),select"),
                isValid = true;
                console.log(curInputs)
            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                
                if ($(curInputs[i]).val() == '' || $(curInputs[i]).val() == undefined){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").removeClass("has-error");
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                    $(curInputs[i]).next('.text-danger').remove()
                    
                    
                }
                if ($(curInputs[i]).attr('type') === 'tel' && $(curInputs[i]).val().length !== 10) {
                    isValid = false;
                    $(curInputs[i]).after('<span class="text-danger">يجب أن يحتوي رقم الهاتف على 10 أرقام</span>');
                }
            }
    
            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });
        $('#select-show').change(function(){
           
            if($(this).is(':checked')){
                $(this).parent().siblings('select')[0].css('display','none').attr('disabled')
            }
        })
        $('div.setup-panel div a.btn-primary').trigger('click');
        $('input').keypress(function(){
            $(this).next('.text-danger').remove()
        })

        $('.other').change(function(){
            if($(this).is(':checked')){
                $('#'+$(this).data('name')).attr('type','text')
                $('#'+$(this).data('name')).removeAttr('disabled')
                $('#'+$(this).data('name')).attr('required')
            }else{
                $('#'+$(this).data('name')).attr('type','hidden')
                $('#'+$(this).data('name')).attr('disabled','disabled')
                $('#'+$(this).data('name')).removeAttr('required')
            }
        })
        $('form select').select2()

        $('#submit').click(function(e){
            console.log('test')
            var curStep = $(".setup-content")
            
            curStep.each((element, index) => {
            console.log(element, index)
                var curInputs = $(index).find("input:not([type='checkbox'],[type='hidden']),select"),
                isValid = true;
                console.log(curInputs)
            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                $(curInputs[i]).closest(".form-group").removeClass("has-error");
                $(curInputs[i]).closest(".form-group").addClass("has-error");
                $(curInputs[i]).next('.text-danger').remove()
                if ($(curInputs[i]).val() == '' || $(curInputs[i]).val() == undefined){
                    isValid = false;
                    
                    $(curInputs[i]).after('<span class="text-danger">هذا الحقل مطلوب</span>');
                }else if($(curInputs[i]).attr('type') === 'tel' && $(curInputs[i]).val().length !== 10) {
                    isValid = false;
                    $(curInputs[i]).after('<span class="text-danger">يجب أن يحتوي رقم الهاتف على 10 أرقام</span>');
                }
            }
            if(!isValid){
            Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "يوجد بيانات غير مدخلة الرجاء التحقق من البيانات",
                  footer: ''
                });
            }else{
            $('#form-send').submit()
            }
            });
        })
    });
</script>
<script>
    var map = L.map('map').setView([32.89605782530956, 13.178557744256981], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker
    map.on('click', function(e) {        
        var popLocation= e.latlng;
        console.log(popLocation)
        $('#lable-lat').text(popLocation.lat)
        $('#lat').val(popLocation.lat)
        $('#lable-lng').text(popLocation.lng)
        $('#lng').val(popLocation.lng)
        if(marker != undefined){
            map.removeLayer(marker)
        }
        marker =L.marker([popLocation.lat, popLocation.lng]).addTo(map)
        .bindPopup('<p>تم تحديد الموقع</p>')
        .openPopup();   
    });
</script>
{% endblock script %}