{% extends "public/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
<style>
    header{
        top:0px
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">تسجيل معلومات حول المفقود</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
            <li class="breadcrumb-item"><a href="index.html">الرئيسية</a>\</li> 
            <li class="breadcrumb-item active text-primary"><a href="#">معلومات حول المفقود</a></li>
        </ol>    
    </div>
</div>
<div id="clients" class="the-clients">
    <div class="container">
      <div class="row">
        
            <div class=" mt-5 col-md-12 text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            
            <p>
                في حال لديك معلومات تفيد في العثور على المفقود 
            </p>
            {% if messages  %}
            <div class="alert alert-success m-3">
                
                {% for massege in messages %}
                    {{ massege }}
                {% endfor %}
                    
            </div>
            {% endif %}
          </div>
      
                
                <div class="col-lg-7">
                    <form action="" method="post" class="mb-4" id="form">
                        {% csrf_token %}
                        
                            {{ form }}
                        <div class='error'></div>
                        <input type="hidden" name="lat" id='lat'>
                        <input type="hidden" name="lng" id='lng'>
                        
                        <button class="w-100 btn btn-primary  py-3"  type="submit">ارسال</button>
                    </form>
                   
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <label>تحديد الموقع</label>
                        <div class="rounded">
                            <div id="map" style="height: 425px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    var map = L.map('map').setView([32.89605782530956, 13.178557744256981], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker
    map.on('click', function(e) {        
        var popLocation= e.latlng;
        console.log(popLocation)
        $('#lable-lat').text(popLocation.lat)
        $('#lat').val(popLocation.lat)
        $('#lable-lng').text(popLocation.lng)
        $('#lng').val(popLocation.lng)
        if(marker != undefined){
            map.removeLayer(marker)
        }
        marker =L.marker([popLocation.lat, popLocation.lng]).addTo(map)
        .bindPopup('<p>تم تحديد الموقع</p>')
        .openPopup();   
    });
    $('input[name=phone]').attr('type','number')

    $('#form').submit(function (event) {
        $('.error').html('')
        var phoneNumber = $('#id_phone').val();

        if (phoneNumber.length !== 10) {
            event.preventDefault();  // منع إرسال النموذج
            $('.error').html("<span class='alert alert-danger'>رقم الهاتف يجب أن يحتوي على 10 أرقام.</span>");
        }else{
            $('#form').submit()
        }
    });
</script>
{% endblock script %}